body{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 90vh;
    background-color: blanchedalmond;
    overflow: hidden;
}
.black{
    background-color: black;
    color: white;
}
.white{
    background-color: white;
    color: black;
}
td{
    height: 51px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 60px;
}
table{
    width: 520px;
    height: 500px;
}